body {
    padding: .75%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 175%;
}

#timer {
    background-color: rgb(192, 188, 94);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
    border: 2px solid black;
}

#questionsContainer ul li {
    border: 2px solid black;
    border-radius: 40px 40px;
    line-height: 150%;
    margin: 5%;
    cursor: pointer;
}

#questionsContainer ul :hover {
    list-style-type: none;
    background-color: rgba(98, 153, 159, 0.5);
    color: rgb(47, 15, 228);
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    width: 500px;
    height: 700px;
}

#timeLeft {
    float: right;
    justify-content: center;
    flex-direction: column;
}

#retake {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(192, 188, 94);
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 5%;
    width: auto;
    border: 2px solid rgb(18, 17, 17);
}

#highScore {
    border: none;
    justify-content: center;
}

#clear {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(192, 188, 94);
    padding: 15px;
    font-size: 30px;
    color: white;
    top: 30%;
    right: 10%;
    border: 2px solid rgb(31, 29, 29);
}

button {
    border-radius: 50px 50px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    cursor: pointer;
}

textarea {
    width: 90%;
    margin: 25px;
}

#Submit {
    background-color: rgb(192, 188, 94);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 30px;
    color: white;
    border: 2px solid rgb(19, 18, 18);
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
}

label {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: rgb(192, 188, 94);
}

li {
    background-color: rgb(192, 188, 94);
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 20px;
    color: white;
}

@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
    }
    #wrapper {
        position: absolute;
        left: 17%;
    }
    #goBack {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #clear {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 375px) {
    #wrapper {
        padding-top: 40%;
    }
    #questionsDiv {
        margin-right: 13%;
        font-size: 150%;
    }
    #currentTime {
        margin-right: 75%;
    }
    #goBack {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}